{
    "swagger": "2.0",
    "info": {
        "title": "ImageService API",
        "description": "Move your app forward with the ImageService API",
        "version": "1.0.0"
    },
    "host": "api.images-pre.schibsted.io",
    "schemes": [
        "http"
    ],
    "consumes": [
        "multipart/form-data",
        "application/json",
        "application/octet-stream",
        "image/jpeg",
        "image/png",
        "image/webp"
    ],
    "produces": [
        "application/json",
        "image/jpeg",
        "image/png",
        "image/webp"
    ],
    "security": [
        {
            "internalApiKey": []
        }
    ],
    "paths": {
        "/file": {
            "post": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Uploads an image to the service",
                "description": "Uploads an image using the upload service. A x-location and x-id headers are set with the path. Id will be a UUID.",
                "consumes": [
                    "image/png",
                    "image/jpg",
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Image already exists"
                    },
                    "201": {
                        "description": "Image succesfully uploaded",
                        "headers": {
                            "x-location": {
                                "type": "string",
                                "description": "id of the image with the location in the api file/id"
                            },
                            "x-id": {
                                "type": "string",
                                "description": "id of the image"
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Batch delete",
                "description": "Deletes an image using",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "files",
                        "in": "body",
                        "description": "files to delete",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/DeleteBatch"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Image deleted successfully"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                }
            }
        },
        "/file/{image_path}": {
            "post": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Uploads an image to the service",
                "description": "Uploads an image using the upload service. A Location header is set with the path. The image_path will be the image id.",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Image already exists"
                    },
                    "201": {
                        "description": "Image succesfully uploaded"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string",
                        "items": {
                            "type": "string"
                        }
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Removes an image from the service",
                "description": "Removes an image from the service",
                "responses": {
                    "200": {
                        "description": "Image deleted"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string",
                        "items": {
                            "type": "string"
                        }
                    }
                ]
            },
            "get": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Gets an image",
                "description": "Updates an image with a different one",
                "produces": [
                    "image/(jpg|png|webp)"
                ],
                "responses": {
                    "200": {
                        "description": "Image found"
                    },
                    "404": {
                        "description": "Image not found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string",
                        "items": {
                            "type": "string"
                        }
                    }
                ]
            },
            "put": {
                "tags": [
                    "Upload Service"
                ],
                "summary": "Updates an image with the {image_path}",
                "description": "Updates an image with a different one",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Image succesfully uploaded"
                    },
                    "404": {
                        "description": "Image not found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string",
                        "items": {
                            "type": "string"
                        }
                    }
                ]
            }
        },
        "/{site_alias}/{rule}/{image_path}": {
            "get": {
                "tags": [
                    "Delivery Service"
                ],
                "summary": "get the image",
                "description": "get the image",
                "responses": {
                    "200": {
                        "description": "Image Found"
                    },
                    "404": {
                        "description": "Image Not Found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule",
                        "in": "path",
                        "description": "rule to apply to the image",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/{site_alias}/{image_path}": {
            "get": {
                "tags": [
                    "Delivery Service"
                ],
                "summary": "get the image",
                "description": "get the image",
                "responses": {
                    "200": {
                        "description": "Image Found"
                    },
                    "404": {
                        "description": "Image Not Found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "image_path",
                        "in": "path",
                        "description": "path to image, path/to/image.jpg",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/bucket/{site_alias}/rules": {
            "post": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Identity Creation",
                "description": "The Identity endpoint creates a user in the service",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Identity created correctly"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "rule",
                        "in": "body",
                        "description": "Pet to add to the store",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Rule"
                        }
                    },
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Get all the rules for a bucket",
                "description": "Get all the rules for bucket",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "properties": {
                                "rules": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Rule"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/bucket/{site_alias}/rules/{rule_name}": {
            "get": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Get Rule",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Rule"
                        }
                    },
                    "404": {
                        "description": "Rule not found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule_name",
                        "in": "path",
                        "description": "rule_name to get",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Update rule",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Rule updated"
                    },
                    "404": {
                        "description": "Rule Not found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "rule",
                        "in": "body",
                        "description": "Pet to add to the store",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Rule"
                        }
                    },
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule_name",
                        "in": "path",
                        "description": "rule_name to get",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Delete rule",
                "responses": {
                    "200": {
                        "description": "Rule deleted"
                    },
                    "404": {
                        "description": "Rule not found"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "rule_name",
                        "in": "path",
                        "description": "rule_name to get",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/bucket/{site_alias}/watermarks": {
            "post": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Add a new watermark",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "Watermark created correctly"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Get All watermarks information",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Ok",
                        "schema": {
                            "$ref": "#/definitions/Watermark"
                        }
                    },
                    "500": {
                        "description": "Internal error"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/bucket/{site_alias}/watermarks/{watermark_id}": {
            "get": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Gets a watermark information",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "watermark exists"
                    },
                    "404": {
                        "description": "watermark not found"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "watermark_id",
                        "in": "path",
                        "description": "watermark id",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Update a watermark",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Identity created correctly"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "watermark_id",
                        "in": "path",
                        "description": "watermark id",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Accout-configuration Service"
                ],
                "summary": "Delete a watermark",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Identity created correctly"
                    }
                },
                "parameters": [
                    {
                        "name": "site_alias",
                        "in": "path",
                        "description": "site path set when creating the account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "watermark_id",
                        "in": "path",
                        "description": "watermark id",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        }
    },
    "definitions": {
        "DeleteBatch": {
            "required": [
                "files"
            ],
            "properties": {
                "files": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "description": "image_id"
                    }
                }
            }
        },
        "Watermark": {
            "properties": {
                "etag": {
                    "type": "string"
                },
                "last_modified": {
                    "type": "string"
                }
            }
        },
        "Rule": {
            "required": [
                "rule_name",
                "config",
                "rule"
            ],
            "properties": {
                "rule_name": {
                    "type": "string",
                    "description": "Unique identifier representing a specific name for a rule"
                },
                "config": {
                    "type": "object",
                    "items": {
                        "$ref": "#/definitions/Config"
                    },
                    "description": "Description of product."
                },
                "rule": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RuleAction"
                    },
                    "description": "Display name of product."
                }
            }
        },
        "Config": {
            "properties": {
                "width": {
                    "type": "number"
                },
                "height": {
                    "type": "number"
                },
                "quality": {
                    "type": "number"
                }
            }
        },
        "RuleAction": {
            "type": "object",
            "properties": {
                "resize": {
                    "type": "object",
                    "items": {
                        "$ref": "#/definitions/ResizeAction"
                    },
                    "description": "Description of product."
                },
                "uprigth": {
                    "type": "string",
                    "description": "Description of product."
                },
                "watermark": {
                    "type": "object",
                    "items": {
                        "$ref": "#/definitions/WatermarkAction"
                    },
                    "description": "Description of product."
                }
            }
        },
        "ResizeAction": {
            "properties": {
                "width": {
                    "type": "number"
                },
                "height": {
                    "type": "number"
                },
                "upscale": {
                    "type": "boolean"
                },
                "distort": {
                    "type": "boolean"
                }
            }
        },
        "WatermarkAction": {
            "type": "object",
            "required": [
                "filename"
            ],
            "properties": {
                "filename": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "internalApiKey": {
            "name": "SCMClientId",
            "type": "apiKey",
            "in": "header"
        }
    }
}
